<div typography-body-1>
    <div padding>
        <div flex-cell gutter>
            <div shrink typography-headline>common-style-attributes</div>
            <a shrink href="https://www.npmjs.com/package/common-style-attributes"><img
                    src="https://img.shields.io/npm/v/common-style-attributes.svg"></a>
            <a shrink href="http://github.com/kctang/common-style-attributes"><img
                    src="https://img.shields.io/github/license/kctang/common-style-attributes.svg"></a>
        </div>
        <p>
            HTML attributes to manage layout and common styling properties for HTML elements.
        </p>
        <p>Why? Because styling every HTML component with CSS/SCSS is tedious and hard to maintain.
            It leads to styling inconsistencies as project grows. Let's avoid that. Keep custom
            CSS/SCSS to the 20% of advanced styling needs. For the other 80%, use common style
            attributes.
        </p>
        <div divider margin-vertical></div>
        <div typography-subheading-1>Getting Started</div>
        <div>
            <ul>
                <li>Install from NPM:
                    <p><code>npm install common-style-attributes</code></p>
                </li>
                <li>Add this to a SCSS file in your project:
                    <p><code>@import
                        '~common-style-attributes/styles/common-style-attributes';</code></p>
                </li>
                <li>To use typography styles, add this to a SCSS file in your project:
                    <p><code>@import '~common-style-attributes/styles/csa-typography';</code></p>
                </li>
                <li>SCSS variables can be used to customize typography styles. To do this, create
                    a new SCSS file based on <code>~common-style-attributes/styles/csa-variables.scss</code>
                    and import it to your project:
                    <p><code>@import 'my-csa-variables';</code></p>
                </li>
            </ul>
        </div>
        <div padding>
            [ <a href="https://stackblitz.com/edit/common-style-attributes-starter">StackBlitz
            Template</a> ]
        </div>
    </div>
    <div divider></div>
    <mat-tab-group>
        <mat-tab label="flex-cell">
            <app-flex-cell></app-flex-cell>
        </mat-tab>
        <mat-tab label="box">
            <app-box></app-box>
        </mat-tab>
        <mat-tab label="colors">
            <app-colors></app-colors>
        </mat-tab>
        <mat-tab label="size">
            <app-size></app-size>
        </mat-tab>
        <mat-tab label="typography">
            <app-typography></app-typography>
        </mat-tab>
    </mat-tab-group>
    <div divider></div>
    <div padding>
        <div typography-subheading-1>Source Code</div>
        <a href="https://github.com/kctang/common-style-attributes">common-style-attributes</a> is
        hosted on GitHub.
    </div>
</div>
