$csa-margin: 16px !default;
$csa-padding: 16px !default;

[margin] {
  margin: $csa-margin;
}

[margin-horizontal] {
  margin-left: $csa-margin;
  margin-right: $csa-margin;
}

[margin-vertical] {
  margin-top: $csa-margin;
  margin-bottom: $csa-margin;
}

[margin-top] {
  margin-top: $csa-margin;
}

[margin-bottom] {
  margin-bottom: $csa-margin;
}

[margin-left] {
  margin-left: $csa-margin;
}

[margin-right] {
  margin-right: $csa-margin;
}

[padding] {
  padding: $csa-padding;
}

[padding-horizontal] {
  padding-left: $csa-padding;
  padding-right: $csa-padding;
}

[padding-vertical] {
  padding-top: $csa-padding;
  padding-bottom: $csa-padding;
}

[padding-top] {
  padding-top: $csa-padding;
}

[padding-bottom] {
  padding-bottom: $csa-padding;
}

[padding-left] {
  padding-left: $csa-padding;
}

[padding-right] {
  padding-right: $csa-padding;
}

[no-margin] {
  margin: 0;
}

[no-padding] {
  padding: 0;
}

// https://material.io/design/color/text-legibility.html#text-backgrounds
[contrast-high-emphasis] {
  opacity: 0.87;
}

[contrast-medium-emphasis] {
  opacity: 0.6;
}

[contrast-disabled] {
  opacity: 0.38;
}

[hidden] {
  display: none;
}

[round] {
  border-radius: 50%;
}

@mixin shadow($level:2) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

[shadow] {
  @include shadow()
}

$shadowLevels: 1 2 3 4 5;
@each $level in $shadowLevels {
  [shadow-#{$level}] {
    @include shadow($level)
  }
}

[cover-image] {
  background-size: cover;
  background-position: center;
}

[debug] {
  > * {
    border: 1px dashed #ef6c00;
    box-sizing: border-box;
  }
}

[divider] {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
