@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

$device-breakpoints: (
        desktop: 840px,
        tablet: 480px,
        phone: 0px
);
