// --- basic colors
[red] {
  color: red;
}

[green] {
  color: green;
}

[blue] {
  color: blue;
}

[white] {
  color: white;
}

[black] {
  color: black;
}

[background-red] {
  background-color: red;
}

[background-green] {
  background-color: green;
}

[background-blue] {
  background-color: blue;
}

[background-white] {
  background-color: white;
}

[background-black] {
  background-color: black;
}
