@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

$gridConfig: (
        gutterSize: 4px,
        phone: (
                cells: (
                        cell-1: 25%,
                        cell-2: 50%,
                        cell-3: 75%,
                        cell-4: 100%,
                        cell-5: 100%,
                        cell-6: 100%,
                        cell-7: 100%,
                        cell-8: 100%,
                        cell-9: 100%,
                        cell-10: 100%,
                        cell-11: 100%,
                        cell-12: 100%
                )
        ),
        tablet: (
                cells: (
                        cell-1: 12.5%,
                        cell-2: 25%,
                        cell-3: 37.5%,
                        cell-4: 50%,
                        cell-5: 62.5%,
                        cell-6: 75%,
                        cell-7: 87.5%,
                        cell-8: 100%,
                        cell-9: 100%,
                        cell-10: 100%,
                        cell-11: 100%,
                        cell-12: 100%
                )
        ),
        desktop: (
                cells: (
                        cell-1: 8.33%,
                        cell-2: 16.67%,
                        cell-3: 25%,
                        cell-4: 33.33%,
                        cell-5: 41.67%,
                        cell-6: 50%,
                        cell-7: 58.33%,
                        cell-8: 66.67%,
                        cell-9: 75%,
                        cell-10: 83.33%,
                        cell-11: 91.67%,
                        cell-12: 100%
                )
        )
);

[grow] {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

[shrink] {
  flex-shrink: 1;
  flex-basis: auto;
}

[flex-cell] {
  display: flex;
  flex-wrap: wrap;
  //padding: 0;
  //margin: 0;
  box-sizing: border-box;

  &[default-cell-12] > *, &[gutter][default-cell-12] > * {
    flex-basis: 100%;
  }

  [left], .left {
    display: flex;
    justify-content: flex-start;
  }

  [right], .right {
    display: flex;
    justify-content: flex-end;
  }

  [center], .center {
    // does not work on MSIE 11
    // https://caniuse.com/#search=flexbox
    //
    // best effort tweak for MSIE 11 (apply via media query if need)
    // https://stackoverflow.com/questions/953918/how-to-align-a-div-to-the-middle-horizontally-width-of-the-page
    // width: 100%;
    // margin: 0 auto;

    display: flex;
    justify-content: center;
  }

  [top], .top {
    display: flex;
    align-items: flex-start;
  }

  [bottom], .bottom {
    display: flex;
    align-items: flex-end;
  }

  [vcenter], .vcenter {
    display: flex;
    align-items: center;
  }

  &[debug] {
    > * {
      background: linear-gradient(45deg, yellow, cyan);
    }
  }
}

// Q: should gutter size be device specific? if yes, enhance.
$gutterSize: map-get($gridConfig, 'gutterSize');
[flex-cell][gutter] {
  margin: calc(#{$gutterSize * -1});

  > * {
    margin: calc(#{$gutterSize});
  }
}

// phone (4 columns per row)
@media (max-width: map-get($device-breakpoints, 'tablet')-1) {
  // --- with gutter
  [flex-cell][gutter][default-cell-6] > * {
    flex-basis: calc(#{map-deep-get($gridConfig, 'phone', 'cells', 'cell-6')} - #{$gutterSize * 2});
  }

  [flex-cell][gutter] > * {
    // cell defaults to 4 columns
    flex-basis: calc(#{map-deep-get($gridConfig, 'phone', 'cells', 'cell-4')} - #{$gutterSize * 2});
  }

  @each $key, $value in map-deep-get($gridConfig, 'phone', 'cells') {
    [flex-cell][gutter] > [#{$key}], [flex-cell] > .#{$key} {
      flex-basis: calc(#{$value} - #{$gutterSize * 2});
    }
  }

  // --- without gutter
  [flex-cell][default-cell-6] > * {
    flex-basis: map-deep-get($gridConfig, 'phone', 'cells', 'cell-6');
  }

  [flex-cell] > * {
    // cell defaults to 4 columns
    flex-basis: map-deep-get($gridConfig, 'phone', 'cells', 'cell-4');
  }

  @each $key, $value in map-deep-get($gridConfig, 'phone', 'cells') {
    [flex-cell] > [#{$key}], [flex-cell] > .#{$key} {
      flex-basis: $value;
    }
  }
}

// tablet (8 columns per row)
@media (min-width: map-get($device-breakpoints, 'tablet')) and (max-width: map-get($device-breakpoints, 'desktop')-1) {
  // with gutter
  [flex-cell][gutter][default-cell-6] > * {
    flex-basis: calc(#{map-deep-get($gridConfig, 'tablet', 'cells', 'cell-6')} - #{$gutterSize * 2});
  }

  [flex-cell][gutter] > * {
    // cell defaults to 4 columns
    flex-basis: calc(#{map-deep-get($gridConfig, 'tablet', 'cells', 'cell-4')} - #{$gutterSize * 2});
  }

  @each $key, $value in map-deep-get($gridConfig, 'tablet', 'cells') {
    [flex-cell][gutter] > [#{$key}], [flex-cell] > .#{$key} {
      flex-basis: calc(#{$value} - #{$gutterSize * 2});
    }
  }

  // without gutter
  [flex-cell][default-cell-6] > * {
    flex-basis: map-deep-get($gridConfig, 'tablet', 'cells', 'cell-6');
  }

  [flex-cell] > * {
    // cell defaults to 4 columns
    flex-basis: map-deep-get($gridConfig, 'tablet', 'cells', 'cell-4');
  }

  @each $key, $value in map-deep-get($gridConfig, 'tablet', 'cells') {
    [flex-cell] > [#{$key}], [flex-cell] > .#{$key} {
      flex-basis: $value;
    }
  }
}

// desktop (12 columns per row)
@media (min-width: map-get($device-breakpoints, 'desktop')) {
  // with gutter
  [flex-cell][gutter][default-cell-6] > * {
    flex-basis: calc(#{map-deep-get($gridConfig, 'desktop', 'cells', 'cell-6')} - #{$gutterSize * 2});
  }

  [flex-cell][gutter] > * {
    // cell defaults to 4 columns
    flex-basis: calc(#{map-deep-get($gridConfig, 'desktop', 'cells', 'cell-4')} - #{$gutterSize * 2});
  }

  @each $key, $value in map-deep-get($gridConfig, 'desktop', 'cells') {
    [flex-cell][gutter] > [#{$key}], [flex-cell] > .#{$key} {
      flex-basis: calc(#{$value} - #{$gutterSize * 2});
    }
  }

  // without gutter
  [flex-cell][default-cell-6] > * {
    flex-basis: map-deep-get($gridConfig, 'desktop', 'cells', 'cell-6')
  }

  [flex-cell] > * {
    // cell defaults to 4 columns
    flex-basis: map-deep-get($gridConfig, 'desktop', 'cells', 'cell-4');
  }

  @each $key, $value in map-deep-get($gridConfig, 'desktop', 'cells') {
    [flex-cell] > [#{$key}], [flex-cell] > .#{$key} {
      flex-basis: $value;
    }
  }
}
