@import "sa-core";

$gridConfig: (
        phone: (
                cells: (
                        cell-1: 25%,
                        cell-2: 50%,
                        cell-3: 75%,
                        cell-4: 100%,
                        cell-5: 100%,
                        cell-6: 100%,
                        cell-7: 100%,
                        cell-8: 100%,
                        cell-9: 100%,
                        cell-10: 100%,
                        cell-11: 100%,
                        cell-12: 100%
                )
        ),
        tablet: (
                cells: (
                        cell-1: 12.5%,
                        cell-2: 25%,
                        cell-3: 37.5%,
                        cell-4: 50%,
                        cell-5: 62.5%,
                        cell-6: 75%,
                        cell-7: 87.5%,
                        cell-8: 100%,
                        cell-9: 100%,
                        cell-10: 100%,
                        cell-11: 100%,
                        cell-12: 100%
                )
        ),
        desktop: (
                cells: (
                        cell-1: 8.33%,
                        cell-2: 16.66%,
                        cell-3: 25%,
                        cell-4: 33.33%,
                        cell-5: 41.67%,
                        cell-6: 50%,
                        cell-7: 58.33%,
                        cell-8: 66.67%,
                        cell-9: 75%,
                        cell-10: 83.33%,
                        cell-11: 91.67%,
                        cell-12: 100%
                )
        )
);

[grow] {
  flex-grow: 1;
}

[grow-items] {
  > * {
    flex-grow: 1;
  }
}

[shrink] {
  flex-shrink: 1;
}

[left] {
  display: flex;
  justify-content: flex-start;
}

[right] {
  display: flex;
  justify-content: flex-end;
}

[top] {
  display: flex;
  align-items: flex-start;
}

[bottom] {
  display: flex;
  align-items: flex-end;
}

[vcenter] {
  display: flex;
  align-items: center;
}

[center] {
  // does not work on MSIE 11
  // https://caniuse.com/#search=flexbox
  //
  // best effort tweak for MSIE 11 (apply via media query if need)
  // https://stackoverflow.com/questions/953918/how-to-align-a-div-to-the-middle-horizontally-width-of-the-page
  // width: 100%;
  // margin: 0 auto;

  display: flex;
  justify-content: center;
}

@mixin flex-cell-rules($device, $gutterSize: 4px) {
  [flex-cell] {
    display: flex;
    flex-wrap: wrap;

    // specificity for default cell size specified from parent must win over "default cell size"
    &[default-cell-12][default-cell-12][default-cell-12][default-cell-12][default-cell-12] > * {
      flex-basis: 100%;
    }

    &[gutter] {
      margin: calc(#{$gutterSize * -1});

      > * {
        margin: calc(#{$gutterSize});
      }
    }
  }

  // --- with gutter
  [flex-cell][gutter][default-cell-6] > *:not([grow]):not([shrink]) {
    flex-basis: calc(#{map-deep-get($gridConfig, $device, 'cells', 'cell-6')} - #{$gutterSize * 2});
  }

  // "default cell size"
  [flex-cell][gutter] > *:not([grow]):not([shrink]) {
    flex-basis: calc(#{map-deep-get($gridConfig, $device, 'cells', 'cell-4')} - #{$gutterSize * 2});
  }

  @each $key, $value in map-deep-get($gridConfig, $device, 'cells') {
    [flex-cell][gutter] > [#{$key}]:not([grow]):not([shrink]) {
      flex-basis: calc(#{$value} - #{$gutterSize * 2});
    }
  }

  // --- without gutter
  [flex-cell][default-cell-6]:not([gutter]) > *:not([grow]):not([shrink]) {
    flex-basis: map-deep-get($gridConfig, $device, 'cells', 'cell-6')
  }

  [flex-cell]:not([gutter]) > *:not([grow]):not([shrink]) {
    // cell defaults to 4 columns
    flex-basis: map-deep-get($gridConfig, $device, 'cells', 'cell-4');
  }

  @each $key, $value in map-deep-get($gridConfig, $device, 'cells') {
    [flex-cell] > [#{$key}] {
      flex-basis: $value;
    }
  }
}

// phone (4 columns per row)
@media (max-width: map-get($device-breakpoints, 'tablet')-1) {
  @include flex-cell-rules('phone');
}

// tablet (8 columns per row)
@media (min-width: map-get($device-breakpoints, 'tablet')) and (max-width: map-get($device-breakpoints, 'desktop')-1) {
  @include flex-cell-rules('tablet');
}

// desktop (12 columns per row)
@media (min-width: map-get($device-breakpoints, 'desktop')) {
  @include flex-cell-rules('desktop');
}
