// --- width
[width-64] {
  width: 64px;
}

[width-128] {
  width: 128px;
}

[width-256] {
  width: 256px;
}

[width-half] {
  width: 50%;
}

[width-full] {
  width: 100%;
}

// --- height
[height-64] {
  height: 64px
}

[height-128] {
  height: 128px
}

[height-256] {
  height: 256px
}

[height-300] {
  height: 300px
}

[height-384] {
  height: 384px
}

[height-768] {
  height: 768px
}

[height-half] {
  height: 50%;
}

[height-full] {
  height: 100%;
}
